/* Remove default bullets */
ul, #myUL {
    list-style-type: none;
  }
  
  /* Remove margins and padding from the parent ul */
  #myUL {
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    padding: 0;
    width: 200px;
  }
  
  /* Style the caret/arrow */
  .caret {
    cursor: pointer; 
    user-select: none; /* Prevent text selection */
  }
  
  /* Create the caret/arrow with a unicode, and style it */
  .caret::before {
    content: "\22BF";
    color: black;
    display: inline-block;
    margin-right: 6px;
    transform: rotate(315deg); 
  }
  
  /* Rotate the caret/arrow icon when clicked on (using JavaScript) */
  .caret-down::before {
    transform: rotate(0deg); 
  }
  
  /* Hide the nested list */
  .nested {
    margin-left: -20px;
    display: none;
  }
  
  /* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
  .active {
    display: block;
  }
